@model object

@* Interpolated and verbatim strings *@
@{
    string name = "World";
    string msg = $"Hello, {name}!";
    string path = @"C:\Users\test\file.txt";
    string multiline = @"Line 1
Line 2
Line 3";
    string verbatimInterp = $@"Path: C:\{name}\data";
}

<p>@msg</p>
<p>@path</p>

@* Generic types in expressions *@
@{
    var list = new System.Collections.Generic.List<string> { "a", "b" };
    var dict = new System.Collections.Generic.Dictionary<string, int>();
    dict["key"] = 42;

    Func<int, int> square = x => x * x;
    var result = square(4);
}

<p>List count: @list.Count</p>
<p>Square of 4: @result</p>

@* Lambda in LINQ *@
@{
    var filtered = list.Where(s => s.Length > 0).ToList();
}
<p>Filtered: @filtered.Count</p>

@* Nullable types *@
@{
    int? maybeNull = null;
    string display = maybeNull?.ToString() ?? "nothing";
}
<p>@display</p>
